In [2]:
import pandas as pd
import numpy as np
import time
from concurrent.futures import ThreadPoolExecutor, as_completed
from multiprocessing import cpu_count

In [3]:
ruta = "BasedeDatosMoviesEDA.csv"

for enc in ["utf-8-sig", "cp1252", "latin-1", "ISO-8859-1"]:
    try:
        df = pd.read_csv(
            ruta,
            engine="python",  
            sep=None,         
            on_bad_lines="skip",
            encoding=enc
        )
        print("Cargó con encoding:", enc)
        break
    except UnicodeDecodeError as e:
        print("Falló con", enc, "->", e)

# Mostrar información del DataFrame
print(df.shape)
display(df.head())
print(df.info())

Cargó con encoding: utf-8-sig
(1327800, 24)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1327800 entries, 0 to 1327799
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1327800 non-null  int64
 1   title                 1327783 non-null  object
 2   vote_average          1327800 non-null  float64
 3   vote_count            1327800 non-null  int64
 4   status                1327800 non-null  object
 5   release_date          1056922 non-null  object
 6   revenue               1327800 non-null  int64
 7   runtime               1327800 non-null  int64
 8   adult                 1327800 non-null  bool
 9   backdrop_path         337001 non-null   object
 10  budget                1327800 non-null  int64
 11  homepage              137755 non-null   object
 12  imdb_id               647520 non-null   object
 13  original_language     1327800 non-null  object
 14  original_title        1327783 non-null  object
 15  overview              1031175 non-null  object
 16  popularity            1327800 non-null  float64
 17  poster_path           872945 non-null   object
 18  tagline               184846 non-null   object
 19  genres                758566 non-null   object
 20  production_companies  575688 non-null   object
 21  production_countries  700931 non-null   object
 22  spoken_languages      725719 non-null   object
 23  keywords              336811 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 234.3+ MB
None

In [4]:
import numpy as np

# Se simula una variación del 5% a 15%
df["variacion"] = (df["budget"] * (1 + np.random.uniform(0.05, 0.15, len(df)))).round(2)

# Se simula un impuesto o descuento
df["impuesto"] = np.random.choice([0.05, 0.10, 0.15], size=len(df)).round(2)

# Se calcula un valor final 
df["valor_final"] = (df["variacion"] * (1 - df["impuesto"])).round(2)

# Ordenar por valor_final de mayor a menor
df = df.sort_values(by="valor_final", ascending=False)

# Imprimir el DataFrame resultante
print(df[["title", "budget", "variacion", "impuesto", "valor_final"]].head(10))

                                                 title     budget  \
812970                                  In Whose Name?  999999999
529421   ryan gosling der sutter logan pauls tissemand  900000000
515629                         Adventures in Bora Bora  800000000
630100                             Shadow the Hedgehog  800000000
593292                      ETERNIA: TWILIGHT OF STARS  873000000
1160400                                           Enea  888000000
657383                       M4's The Hobbit Book Edit  700000000
1192268                                         Крик 4  645654654
463801         Playmobil The Movie 2: Maximus' Revenge  600000000
830560                   Red Dead Redemption 2 (Movie)  540000000

            variacion  impuesto   valor_final
812970   1.068668e+09      0.05  1.015235e+09
529421   1.025785e+09      0.05  9.744961e+08
515629   9.164262e+08      0.10  8.247836e+08
630100   9.029320e+08      0.10  8.126388e+08
593292   9.517971e+08      0.15  8.090275e+08
1160400  9.330311e+08      0.15  7.930764e+08
657383   7.654111e+08      0.10  6.888700e+08
1192268  7.049231e+08      0.05  6.696769e+08
463801   6.808180e+08      0.10  6.127362e+08
830560   5.892051e+08      0.05  5.597448e+08

In [5]:
df["release_date"] = pd.to_datetime(df["release_date"], format="%d/%m/%Y", errors="coerce")
records = df.to_dict(orient="records")

In [6]:
def quicksort(arr, key):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x[key] > pivot[key]]
    mid = [x for x in arr if x[key] == pivot[key]]
    right = [x for x in arr if x[key] < pivot[key]]
    return quicksort(left, key) + mid + quicksort(right, key)

In [7]:
def merge_sort(arr, key):
    # Separar válidas de NaT
    valid = [x for x in arr if pd.notna(x[key])]
    invalid = [x for x in arr if pd.isna(x[key])]

    # Ordenar válidas ASCENDENTE con merge sort
    sorted_valid = merge_sort_core(valid, key)

    # Convertir a DESCENDENTE
    sorted_valid.reverse()

    # Las fechas vacías van al final
    return sorted_valid + invalid


def merge_sort_core(arr, key):
    if len(arr) <= 1:
        return arr
    mid = len(arr) // 2
    left = merge_sort_core(arr[:mid], key)
    right = merge_sort_core(arr[mid:], key)
    return merge(left, right, key)


def merge(left, right, key):
    result = []
    i = j = 0

    # ORDEN NATURAL (ASC), NO DESC
    while i < len(left) and j < len(right):
        if left[i][key] <= right[j][key]:
            result.append(left[i])
            i += 1
        else:
            result.append(right[j])
            j += 1

    result.extend(left[i:])
    result.extend(right[j:])
    return result

In [8]:
def ejecutar_sin_mp(data, algoritmo, key):
    copia = list(data)
    inicio = time.perf_counter()
    resultado = algoritmo(copia, key)
    fin = time.perf_counter()
    return resultado, (fin - inicio)


def worker(chunk, algoritmo, key):
    return algoritmo(chunk, key)


def ejecutar_con_mp(data, algoritmo, key):
    copia = list(data)
    num_chunks = min(cpu_count(), 4)
    chunks = np.array_split(copia, num_chunks)

    inicio = time.perf_counter()

    resultados = []
    with ThreadPoolExecutor(max_workers=num_chunks) as exe:
        futures = [exe.submit(worker, list(chunk), algoritmo, key) for chunk in chunks]
        for f in as_completed(futures):
            resultados.extend(f.result())

    # Orden final global
    resultados = algoritmo(resultados, key)

    fin = time.perf_counter()
    return resultados, (fin - inicio)

In [9]:
# ----- 1. Quicksort sin multiproceso (valor_final)
qs_sin, t_qs_sin = ejecutar_sin_mp(records, quicksort, "valor_final")
print("\nTiempo Quicksort sin MP:", t_qs_sin)
print(pd.DataFrame(qs_sin)[["title", "valor_final", "release_date"]].head(15))

# ----- 2. Mergesort sin multiproceso (fecha)
ms_sin, t_ms_sin = ejecutar_sin_mp(records, merge_sort, "release_date")
print("\nTiempo MergeSort sin MP:", t_ms_sin)
print(pd.DataFrame(ms_sin)[["title", "valor_final", "release_date"]].head(15))

Tiempo Quicksort sin MP: 1.9133197000010114
                                            title   valor_final release_date
0                                  In Whose Name?  1.015235e+09          NaT
1   ryan gosling der sutter logan pauls tissemand  9.744961e+08          NaT
2                         Adventures in Bora Bora  8.247836e+08          NaT
3                             Shadow the Hedgehog  8.126388e+08          NaT
4                      ETERNIA: TWILIGHT OF STARS  8.090275e+08          NaT
5                                            Enea  7.930764e+08          NaT
6                       M4's The Hobbit Book Edit  6.888700e+08          NaT
7                                          Крик 4  6.696769e+08          NaT
8         Playmobil The Movie 2: Maximus' Revenge  6.127362e+08          NaT
9                   Red Dead Redemption 2 (Movie)  5.597448e+08          NaT
10                                       Avatar 5  5.521636e+08          NaT
11                                       Avatar 4  5.338016e+08          NaT
12                                       Avatar 3  5.147945e+08          NaT
13                                        Antique  5.073622e+08          NaT
14                            Fortnite: The Movie  5.062252e+08          NaT

Tiempo MergeSort sin MP: 2.7713932000006025
                                            title   valor_final release_date
0                                  In Whose Name?  1.015235e+09          NaT
1   ryan gosling der sutter logan pauls tissemand  9.744961e+08          NaT
2                         Adventures in Bora Bora  8.247836e+08          NaT
3                             Shadow the Hedgehog  8.126388e+08          NaT
4                      ETERNIA: TWILIGHT OF STARS  8.090275e+08          NaT
5                                            Enea  7.930764e+08          NaT
6                       M4's The Hobbit Book Edit  6.888700e+08          NaT
7                                          Крик 4  6.696769e+08          NaT
8         Playmobil The Movie 2: Maximus' Revenge  6.127362e+08          NaT
9                   Red Dead Redemption 2 (Movie)  5.597448e+08          NaT
10                                       Avatar 5  5.521636e+08          NaT
11                                       Avatar 4  5.338016e+08          NaT
12                                       Avatar 3  5.147945e+08          NaT
13                                        Antique  5.073622e+08          NaT
14                            Fortnite: The Movie  5.062252e+08          NaT

In [10]:
qs_mp, t_qs_mp = ejecutar_con_mp(records, quicksort, "valor_final")
print("\nTiempo Quicksort con MP:", t_qs_mp)
print(pd.DataFrame(qs_mp)[["title", "valor_final", "release_date"]].head(15))


# ----- 4. MergeSort con MP (fecha DESC)
ms_mp, t_ms_mp = ejecutar_con_mp(records, merge_sort, "release_date")
print("\nTiempo MergeSort con MP:", t_ms_mp)
print(pd.DataFrame(ms_mp)[["title", "valor_final", "release_date"]].head(15))

Tiempo Quicksort con MP: 3.5588602000025276
                                            title   valor_final release_date
0                                  In Whose Name?  1.015235e+09          NaT
1   ryan gosling der sutter logan pauls tissemand  9.744961e+08          NaT
2                         Adventures in Bora Bora  8.247836e+08          NaT
3                             Shadow the Hedgehog  8.126388e+08          NaT
4                      ETERNIA: TWILIGHT OF STARS  8.090275e+08          NaT
5                                            Enea  7.930764e+08          NaT
6                       M4's The Hobbit Book Edit  6.888700e+08          NaT
7                                          Крик 4  6.696769e+08          NaT
8         Playmobil The Movie 2: Maximus' Revenge  6.127362e+08          NaT
9                   Red Dead Redemption 2 (Movie)  5.597448e+08          NaT
10                                       Avatar 5  5.521636e+08          NaT
11                                       Avatar 4  5.338016e+08          NaT
12                                       Avatar 3  5.147945e+08          NaT
13                                        Antique  5.073622e+08          NaT
14                            Fortnite: The Movie  5.062252e+08          NaT

Tiempo MergeSort con MP: 3.877542500002164
                                            title   valor_final release_date
0                                  In Whose Name?  1.015235e+09          NaT
1   ryan gosling der sutter logan pauls tissemand  9.744961e+08          NaT
2                         Adventures in Bora Bora  8.247836e+08          NaT
3                             Shadow the Hedgehog  8.126388e+08          NaT
4                      ETERNIA: TWILIGHT OF STARS  8.090275e+08          NaT
5                                            Enea  7.930764e+08          NaT
6                       M4's The Hobbit Book Edit  6.888700e+08          NaT
7                                          Крик 4  6.696769e+08          NaT
8         Playmobil The Movie 2: Maximus' Revenge  6.127362e+08          NaT
9                   Red Dead Redemption 2 (Movie)  5.597448e+08          NaT
10                                       Avatar 5  5.521636e+08          NaT
11                                       Avatar 4  5.338016e+08          NaT
12                                       Avatar 3  5.147945e+08          NaT
13                                        Antique  5.073622e+08          NaT
14                            Fortnite: The Movie  5.062252e+08          NaT

In [11]:
print("\n===== COMPARACIÓN DE RENDIMIENTO =====")
print(f"Quicksort sin MP: {t_qs_sin:.4f}s")
print(f"Quicksort con MP: {t_qs_mp:.4f}s | Mejora: {((t_qs_sin - t_qs_mp)/t_qs_sin*100):.2f}%")
print()
print(f"MergeSort sin MP: {t_ms_sin:.4f}s")
print(f"MergeSort con MP: {t_ms_mp:.4f}s | Mejora: {((t_ms_sin - t_ms_mp)/t_ms_sin*100):.2f}%")

===== COMPARACIÓN DE RENDIMIENTO =====
Quicksort sin MP: 1.9133s
Quicksort con MP: 3.5589s | Mejora: -86.00%

MergeSort sin MP: 2.7714s
MergeSort con MP: 3.8775s | Mejora: -39.91%